@charset "UTF-8";
body {
    font-family:'Arial Bold', 'Arial';
    width:100%;
    overflow: hidden;
    color: #080808;
    margin:0;
    padding:0;
}
#content{
	height:85%;
	margin:0;
}
#footer{
	text-align:center;
	color:#080808;;
}
.errors{ color:red;	}
a{ text-decoration:none;}
a:link,a:visited{color:#428bca;text-decoration:none;}
a:hover{color:#2a6496;text-decoration:none;}
a:active{color:#0000FF;;text-decoration:none;}

 