<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>MNOTE</title>
		<link rel="stylesheet" type="text/css" th:href="@{/resources/style/style.css}"></link>
		<link rel="stylesheet" type="text/css" th:href="@{/resources/style/page.css}"></link>
		<link rel="stylesheet" type="text/css" th:href="@{/resources/style/home.css}"></link>
	</head>
	<body>
		<div id="header" th:include="page :: header"></div>
		
		<div id="content">
			<div id="space1"></div>
			<div id="newBox">
				<a id="new" th:href="@{/newfile}">New File</a>
			</div>
			<div id="space2"></div>
			<div id="notes">
				<div id="msgBox">
					<img class="notebook-icon" th:src="@{/resources/images/notebook-icon.png}" border="0" />
					<span id="noteNameTittle">&nbsp;notes</span>
					<img class="notebook-icon" th:src="@{/resources/images/message.png}" border="0" />
					<span id="noteMsgTittle">&nbsp;profile</span>
				</div>
				
                <div id="notebook">
                	<div id="notebookList">
                    	<div class="notes">   		
	                    	<div th:each="notes : ${notesList}" th:id="'notes_' + ${notes.id}">
	                        	<div class="notesNameMsg">
	                           		<span class="notesName" th:text="${notes.name}">note name</span>
	                            	<span class="notesTime" th:text="'[ '+${notes.createdTime}+' ]'">createdTime</span>
	                            </div>
	                            <span class="notesMsg" th:text="'${notes.message}">note profile</span>
	                        </div>
                        </div>
					</div>
				</div>
				
				
				

			</div>
			<div id="space3"></div>
		</div>
		
		<div id="footer" th:include="page :: copy"></div>
	</body>
</html>
